@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Scrollbar customization is only applicabled to Chromium-based browser (Blink engine)
  Because Firefox uses Gecko engine, which ignores webkit
  Other engines are not considered */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #022c22;
    border: 1px solid #00002f;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #8c8c8c;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #aeaeae;
  }

  /* https://github.com/tailwindlabs/tailwindcss/discussions/7032 */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters#example_of_a_nested_counter */
  ol {
    counter-reset: section;
    list-style-type: none;
  }

  /* Skip counting invisible item */
  ol > li:not(.invisible)::before {
    counter-increment: section;
    content: counters(section, '.') '. ';
    display: inline-block;
    min-width: 1.25rem; /* min-width makes most of outer layers and the first indentation aligned*/
  }
}
