---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello, Tech Enthusiasts!</h1>
      <p>
        Welcome to my digital repository. This is where I log my own learning experience. The topics range from software development, configuraiton,
        review, to homelab setup. I hope you find something useful here.
      </p>
    </main>
    <Footer />
  </body>
</html>
