---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav class='flex flex-row justify-between items-center p-5'>
    <a href='/' class='flex flex-row items-center text-xl'>{SITE_TITLE}</a>
    <div class='flex flex-row justify-between items-center'>
      <HeaderLink href='/'>Home</HeaderLink>
    </div>
    <div class='flex flex-row justify-end items-center gap-4 text-xl'>
      <a href='https://www.linkedin.com/in/hunghvu/' target='_blank'>
        <img src='/linkedin.svg' />
      </a>
      <a href='https://github.com/hunghvu/hungvu.tech' target='_blank'>
        <img src='/github.svg' />
      </a>
      <label class='daisyui-swap daisyui-swap-rotate'>
        <input type='checkbox' data-toggle-theme='forest' />
        <img class='daisyui-swap-off' src='/sun.svg' />
        <img class='daisyui-swap-on' src='/moon.svg' />
      </label>
    </div>
  </nav>
  <!-- <style>
    header {
      margin: 0;
      padding: 0 1em;
      background: white;
      box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    h2 {
      margin: 0;
      font-size: 1em;
    }

    h2 a,
    h2 a.active {
      text-decoration: none;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    nav a {
      padding: 1em 0.5em;
      color: var(--black);
      border-bottom: 4px solid transparent;
      text-decoration: none;
    }
    nav a.active {
      text-decoration: none;
      border-bottom-color: var(--accent);
    }
    .social-links,
    .social-links a {
      display: flex;
    }
    @media (max-width: 720px) {
      .social-links {
        display: none;
      }
    }
  </style> -->
</header>
